body{
    background-color:rgb(157, 185, 214);
}
button {
background-color: #77e27b; /* Green */
border: none;
color: rgb(2, 1, 1);
padding: 4px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 15px;
border: 2px solid rgba(90, 56, 56, 0.185);
}

#info{
font-size: 20px;
}